
/********************************************************************
Body
*******************************************************************/

body{
/*background:#070707; 
color:#fff; */
position: relative; 
font-family: 'Inter', sans-serif;
font-size:14px;
width:100%;
}




.site-header{
/*background:#070707; 
color:#fff; */
margin-top:5px; 
padding-left:5px;
padding-right:5px; 
padding-top:5px;
padding-bottom: 5px;
width:98.5%;
position:fixed;
margin:0 auto;
top:8px;
left:0px;
right:0px;
/*background:#222;*/
background: rgba(34,34,34,.5);
-webkit-backdrop-filter: blur(24px);
backdrop-filter: blur(24px);
border-radius: 6px;
z-index:1;
}


/* Branding */
.styps-logo{  
width:28px; 
display:inline-block;
position: relative;  
}


.site-description{
position:relative;
width:100%;  
}

.site-description p{
position:relative;
width:500px;  
text-align: center;
margin:0 auto;
font-size:28px;
padding-top: 120px;
padding-bottom:180px;
}



.site-header-nav-wrap{
  position:relative;
  width:100%; 
}

.site-header-nav{
display: flex;
justify-content: space-between;
align-items: center;
width:100%;  
}

/* Menu links */
.site-header-nav .site-header-nav-link-1,
.site-header-nav .site-header-nav-link-2{
position:relative;
font-size:13px;
cursor: pointer;

}


li span.site-header-nav-link-1,
li span.site-header-nav-link-2{
  position: relative;
  cursor: pointer; 
  background: transparent;
  border-radius: 5px;
  padding-top:5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  font-size:13px;
  display: block;
  }

li span.site-header-nav-link-1:hover,
li span.site-header-nav-link-2:hover{
  background: #333;
  transition: 0.5s ease-in-out;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
  }


.wrap{
  position:relative;
  margin-top:100px;
  }


/********************************************************************
Index.js
*******************************************************************/
/* Categories grid */
.category-container{
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-column-gap:7px;
  width:100%;  
  padding-left:10px;
  padding-right:10px;
  }




/* Wrap */
.posts-wrap{ 
position: relative;
}




/*Post filter */
.filter-container{
display: flex;
justify-content: space-between;
align-items: center;
width:25%; 
padding-left:10px;
padding-right:10px;
}

.filter-container button{
position: relative;  
cursor: pointer;
}


/*Post header */
.post-header{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom:5px;
}



.post-header h3{
position: relative; 
top:1px;
font-size:13px;
}

.post-externalurl{
position: relative; 
}


.post-externalurl button{
position: relative;
cursor: pointer; 
background: #333;
border-radius: 5px;
padding-top:5px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 5px;
font-size:13px;
}

.post-date{
position: relative;
display:none;
}


.post-excerpt{
position: relative;
display:none;
}


.post-image{
position: relative;
}

.post-image img{
width:100%;
height:auto;  
}


.post-video{
position: relative; 
padding-bottom:20px; 
}

.author-name-wrap{
color:#fff; 
display:none;
}


/* Filter container */
.filter-container {
display: flex;
justify-content: space-between;
align-items: center;
}












/***********************************************************************
[slug].js
***********************************************************************/
/* Wrap */
.post-single-wrap{
position: relative;
padding-left: 10px;
padding-right:10px;
margin-top:80px;
width:100%;
clear:both;
}

/* Header */
.post-single-header{
display: flex;
justify-content: space-between;
align-items: center;
width:100%;
margin:0 auto;
}


.post-single-header h3{
font-size:13px;
position: relative; 
}


.post-single-externalurl{
position: relative;
font-size:13px;   
}

.post-single-externalurl{
  position: relative;
  cursor: pointer; 
  background: #333;
  border-radius: 5px;
  padding-top:5px;
  padding-left: 8px;
  padding-right: 8px;
  padding-bottom: 5px;
  font-size:13px;
  }

.post-single-image{
position: relative;
width:80%;
/*float:left;*/
}

.post-single-image img{
width:100%;
height:auto;  
}


.post-single-content{
position: relative;
width:50%;
margin:0 auto;
}

.post-single-content p{
position: relative;
width:100%; 
margin-top:50px;
font-size: 13px;
}



/* Related posts wrap */
.related-posts-wrap{
  position:relative; 
  margin-top:80px;  
  }
  
  /* Title */
  .related-posts-title{
  position:relative;
  display:none;
  }
  
  
  /* Header */
  .related-posts-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom:3px;
  }
  

  .related-posts-header a{
  position:relative;
  top:1px;
  font-size: 13px;
  }

  .related-posts-externalurl button{
    position: relative;
    cursor: pointer; 
    background: #333;
    border-radius: 5px;
    padding-top:5px;
    padding-left: 8px;
    padding-right: 8px;
    padding-bottom: 5px;
    font-size:13px;
    display: block;
    }

  
  /* Content */
  ul.related-posts-content{
  position:relative;  
  display: grid;
  grid-template-columns:repeat(3, 1fr);
  grid-column-gap:7px;
  width:100%;  
  padding-top:50px;
  }


.related-post-video{
position:relative;
padding-bottom:20px;   
}



/*************************************************************************
 Video. 
 *************************************************************************/

 /* Wrap */
.post-single-video{
  position: relative;
  width:100%;
  /*float:left; */
  margin:0 auto;
}



 /* styles.css or your preferred CSS file */
.video-player {
  cursor: pointer;
  position: relative;
  width: 100% !important;
  height: auto !important;
  display: block;
}

.video-player video {
  width: 100%;
  height: auto;
  outline: none; /* Remove the focus outline when clicked */
}

.video-player video::-webkit-media-controls-start-playback-button {
  display: none; /* Hide the play button in Safari */
}

/* Hide default controls */
.video-player video::-webkit-media-controls {
  display: none;
}



.button-container,
.custom-button{
display:none !important;  
}



/*************************************************************************
 Categories page 
 *************************************************************************/
.page-title{
position: relative;
padding-left: 10px;  
}

/***********************************************************************
Footer
***********************************************************************/
.site-footer{
color:#222;
height:50px;
width:100%;
text-align:center;
letter-spacing: -.3px;;
}


.site-footer-content{
position: relative;
/*margin-top: 175px;*/
padding-top:20px;
}

.site-footer-content p{
position: relative; 
font-weight:500;
font-size:12px; 
}