
/********************************************************************
Body
*******************************************************************/

body{
position: relative; 
font-family: 'Inter', sans-serif;
font-size:12px;
width:100%;
}



/********************************************************************
Header
*******************************************************************/

.site-header{
width:100%;
position:fixed;
top:10px;
left:0px;
right:0px;
background:transparent;
/*background: rgba(34,34,34,.5);
-webkit-backdrop-filter: blur(24px);
backdrop-filter: blur(24px);*/
border-radius: 10px;
z-index:1;
}



/********************************************************************
Header nav
*******************************************************************/

/* Navigation */
.site-header-nav-wrap{
/*width:98.8%;*/
width:33.3%;
height:40px;
/*background:#0E0E0E;*/
background:#111;
border-radius: 8px;
margin-top:10px; 
/*padding-left:5px;
padding-right:5px; 
padding-top:6px;
padding-bottom: 6px;*/
position:fixed;
/*height: auto;*/
margin:0 auto;
top:10px;
left:0px;
right:0px;


opacity: 1; /* Set default opacity to 1 */
transition: opacity 0.5s ease-in-out; 
z-index: 1;
}

.site-header-nav{
display: flex;
justify-content: space-between;
align-items: center;
width:100%;  
}

/* Logo */
.styps-logo{  
width:28px; 
height:auto;
position: relative; 
display:block; 
top:5px;
left:10px;
}

.styps-logo img{
width:100%;
height: auto;
display:block
}

/*Open menu button */
.open-site-header-menu{
position:relative;
top:6px;
right:6px;
font-size:15px;
font-weight:800;
letter-spacing:1px;
cursor: pointer;
background: #222;
border-radius: 6px;
padding-top:0px;
padding-left:12px;
padding-right:12px;
padding-bottom:8px;
}


.open-site-header-menu:hover{
background: #1f1f1f;
transition: 0.3s ease-in-out;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out;
}




/********************************************************************
Header menu
*******************************************************************/

.site-header-menu{
justify-content: space-between;
align-items: center;
display: none;
transition: opacity 0.5s ease-in-out; 
opacity: 1;
width:33.3%;
height:40px;
background:#111;
border-radius: 8px;
margin-top:10px; 
position:fixed;
margin:0 auto;
top:10px;
left:0px;
right:0px;
}


/***************************************/


.site-header-menu.open {
  display: flex;
}

.hidden {
  display: none;
}

/************************************/



ul.site-header-menu-content{
position: relative;  
display: flex;
justify-content: space-between;
align-items: center; 
left:10px;
}


ul.site-header-menu-content li{
position: relative; 
padding-right: 20px;
color:#2a2a2a;
cursor: pointer;
font-weight:500;
}


ul.site-header-menu-content li a{
  color:#2a2a2a;
  cursor: pointer;
  font-weight:500;
}


ul.site-header-menu-content li:hover,
ul.site-header-menu-content li a:hover{
color:#e1e1e1;
transition: 0.3s ease-in-out;
-webkit-transition: 0.3s ease-in-out;
-moz-transition: 0.3s ease-in-out; 
}





/*Close menu button */
.close-site-header-menu{
  position:relative;
  cursor: pointer;
  background: #151515;
  border-radius: 6px;
  padding-top:6px;
  padding-left:12px;
  padding-right:12px;
  padding-bottom:6px;
  }
  
  .close-site-header-menu:hover{
  background: #1f1f1f;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  }
  


/********************************************************************
Header inner menu
*******************************************************************/

.site-header-inner-menu{
position: relative;  
width:500px;
background:#0E0E0E;
border-radius: 8px;
margin-top:10px; 
position:fixed;
height: auto;
margin:0 auto;
top:10px;
left:0px;
right:0px;


display:none;
opacity: 0; /* Hide by default */
transition: opacity 0.5s ease-in-out;
}


/* Show the menu with opacity 1 */
.site-header-inner-menu.open {
  display: block;
  opacity: 1;
}



/********************************************************************
Index menu
*******************************************************************/

.site-header-index-menu{
position: relative; 
width:100%;
padding-left:10px;
padding-right:10px; 
padding-top:10px;
padding-bottom:10px;
}


ul.site-header-index-menu-content{
position: relative;
margin-top:30px;
}


ul.site-header-index-menu-content li a{
color:#2a2a2a;
font-weight: 500;
}


ul.site-header-index-menu-content li a:hover{
color:#e1e1e1;
transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
}




/* Close Index menu button */
.close-site-header-index-menu{
  position:absolute;
  cursor: pointer;
  background: #151515;
  border-radius: 6px;
  padding-top:6px;
  padding-left:12px;
  padding-right:12px;
  padding-bottom:6px;
  right:5px;
  top:5px;
  
}


  
.close-site-header-index-menu:hover{
  background: #1f1f1f;
  transition: 0.5s ease-in-out;
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  }



/********************************************************************
Info menu
*******************************************************************/
.site-header-info-menu{
  position: relative; 
  width:100%;
  padding-left:10px;
  padding-right:10px; 
  padding-top:10px;
  padding-bottom:10px;
  }
  
  
  ul.site-header-info-menu-content{
  position: relative;
  margin-top:30px;
  }
  
  
  ul.site-header-info-menu-content li a{
  color:#2a2a2a;
  font-weight: 500;
  }
  
  
  ul.site-header-info-menu-content li a:hover{
  color:#e1e1e1;
  transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
  }
  
  
  
  
  /* Close Index menu button */
  .close-site-header-info-menu{
    position:absolute;
    cursor: pointer;
    background: #151515;
    border-radius: 6px;
    padding-top:6px;
    padding-left:12px;
    padding-right:12px;
    padding-bottom:6px;
   right:5px;
   top:5px;
    
  }
  
  
    
  .close-site-header-info-menu:hover{
    background: #1f1f1f;
    transition: 0.5s ease-in-out;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    }









/********************************************************************
Wrap
*******************************************************************/

.wrap{
position:relative;
margin-top:100px;
}


/********************************************************************
Index.js
*******************************************************************/
/* Categories grid */
.category-container{
display: grid;
grid-template-columns:repeat(4, 1fr);
grid-column-gap:10px;
/*width:100%;*/  
width:95%; 
margin: 0 auto;
/*padding-left:10px;
padding-right:10px;*/
}


/* Site description */
.site-description{
  position:relative;
  width:100%;  
  }
  
  .site-description p{
  position:relative;
  width:500px;  
  text-align: center;
  margin-left:auto;
  margin-right:auto;
  font-size:25px;
  margin-top: 120px;
  margin-bottom:157px;
  }


/* Wrap */
.posts-wrap{ 
position: relative;
}





/*Post header */
.post-header{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom:5px;
}



.post-header h3{
position: relative; 
top:1px;
}

.post-externalurl{
position: relative; 
z-index: 1;
}


.post-externalurl button{
position: relative;
cursor: pointer; 
background: #333;
border-radius: 5px;
padding-top:5px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 5px;
font-size:13px;
}

.post-date{
position: relative;
display:none;
}


.post-excerpt{
position: relative;
display:none;
}


.post-image{
position: relative;
padding-top:69px; 
}

.post-image img{
width:100%;
height:auto;  
border-radius: 10px; 
}


.post-video{
position: relative; 
padding-bottom:4px;
/*padding-top:44px; */
}


video{
  /*background: #000;
  padding:10px;*/
  border-radius: 8px;
}

.author-name-wrap{
color:#fff; 
display:none;
}





/* Advert */
.advert-image{
padding-top:44px; 
}

.advert-title{
 display:none; 
}

.advert-button{
position:relative;
top:76px;
left:3px;
z-index:2;
cursor: pointer; 
background: #333;
border-radius: 5px;
padding-top:5px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 5px;
font-size:13px; 
}



.advert-image img{
  border-radius: 10px; 
  width:100%;
  height:auto;
  }

/***************************************************************************
Filter
***************************************************************************/

/*Open filter wrap */
.open-filter-container{
  cursor:pointer;
  text-align: right;
  z-index: 2;
  position: fixed;
  left:0;
  right:10px;
  bottom:20px;
  }
  
  .open-filter-container::before {
  content: '\002B'; /* Unicode character for plus sign */
  font-size: 11px; /* Adjust the size as needed */
  font-family: 400;
  background: #151515;
  padding:10px 15px;
  border-radius: 6px;
  color:#e1e1e1;
  cursor:pointer;
  }
  
  
  /*Post filter wrap */
  .filter-container-wrap{
  z-index: 1;
  position: relative;
  width:300px;
  position:fixed;
  bottom:12px;
  right:10px;
  background: rgba(34,34,34,.5);
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  border-radius: 6px;
  padding:8px;
  display:none;
  }
  
  
  /* New styles for absolute position */
  .filter-container-wrap.absolute {
  position: absolute;
  bottom: auto;
  /*top: calc(100% - 12px);  Adjust the value as needed */
  top: calc(100% - 34px); 
  opacity:0;
  transition: opacity 0.5s ease-in-out; 
  }
  
  /*Post filter content */
  .filter-container{
  /*display: flex;
  justify-content: space-between;
  align-items: center;
  width:25%; 
  padding-left:10px;
  padding-right:10px;*/
  position: relative;
  padding-top: 30px;
  }
  
  .filter-container li button{
  color:#333;
  }
  
  
  
  .filter-container li button:hover{
  color:#fefefe;
  transition: 0.3s ease-in-out;
  -webkit-transition: 0.3s ease-in-out;
  -moz-transition: 0.3s ease-in-out;
  }
  
  
  
  .filter-container-header{
  display: flex;
  justify-content: space-between;
  align-items: center; 
  cursor:pointer;
  }
  
  
  
  .filter-container-header-plusicon::before {
  content: '\002B'; /* Unicode character for plus sign */
  font-size: 12px; /* Adjust the size as needed */
  font-family: 400;
  }
  
  
  .filter-container-header-minusicon::before {
  content: '\2212'; /* Unicode character for minus sign */
  font-size: 12px; /* Adjust the size as needed */
  font-family: 400;
  }
  
  
  
  .filter-container button{
  position: relative;  
  cursor: pointer;
  }









/***********************************************************************
[slug].js
***********************************************************************/
/* Wrap */
.post-single-wrap{
position: relative;
padding-left: 10px;
padding-right:10px;
margin-top:80px;
width:100%;
clear:both;
}



.single-site-description{
position:relative; 
text-align: center;
font-size:28px;
margin-top: 120px;
margin-bottom:150px;
}



.single-site-description-content{
position:relative; 
/*background: rgba(21, 21, 21, 0.5);
-webkit-backdrop-filter: blur(24px);
backdrop-filter: blur(24px);*/
border-radius: 6px;
font-weight:400;
padding:8px 15px;
width:fit-content;
margin:0 auto;
}


.post-single-pageviews{
position: relative;
cursor: pointer; 
background: #333;
border-radius: 5px;
padding-top:5px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 5px;
font-size:13px; 
}

/* Header */
.post-single-header{
display: flex;
justify-content: space-between;
align-items: center;
/*width:80%;*/
width:100%;
margin-bottom: 60px;
}


.post-single-header h3{
position: relative; 
}


.post-single-externalurl{
position: relative;
font-size:13px;   
}

.post-single-externalurl{
position: relative;
cursor: pointer; 
background: #333;
border-radius: 5px;
padding-top:5px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 5px;
font-size:13px;
}

.post-single-image{
position: relative;
width:80%;
/*float:left;*/
}

.post-single-image img{
width:100%;
height:auto;  
}


/* Content */
.post-single-content{
width: 50%;
margin-top: 50px;
margin-left: auto;
margin-right: auto;
}

.post-single-content-title{
position: relative;
font-size:28px;
}

.post-single-content p{
padding-top:50px;
position: relative;
font-size: 12px;
}

.post-single-paragraph ul{
position: relative;
font-size: 12px;
margin:0;
padding:0;
}


.post-single-paragraph ul li{
position: relative;
margin-top:-48px;
}

.post-single-paragraph-pageviews{
position: relative;
margin-bottom:20px; 
}



/* Related posts wrap */
.related-posts-wrap{
position:relative; 
margin-top:100px;  
}

/* Title */
.related-posts-title{
position:relative;
display:none;
}


/* Header */
.related-posts-header{
display: flex;
justify-content: space-between;
align-items: center;
padding-bottom:3px;
}


.related-posts-header a{
position:relative;
top:1px;
font-size: 13px;
}

.related-posts-externalurl button{
position: relative;
cursor: pointer; 
background: #333;
border-radius: 5px;
padding-top:5px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 5px;
font-size:13px;
display: block;
}


/* Content */
ul.related-posts-content{
position:relative;  
display: grid;
grid-template-columns:repeat(3, 1fr);
grid-column-gap:7px;
width:100%;  
padding-top:50px;
}


.related-post-video{
position:relative;
padding-bottom:20px;   
}



/*************************************************************************
Video. 
*************************************************************************/

/* Wrap */
.post-single-video{
position: relative;
/*width:80%;*/
width:100%;
margin:0 auto;
}



/* styles.css or your preferred CSS file */
.video-player {
cursor: pointer;
position: relative;
width: 100% !important;
height: auto !important;
display: block;
}

.video-player video {
width: 100%;
height: auto;
outline: none; /* Remove the focus outline when clicked */
}

.video-player video::-webkit-media-controls-start-playback-button {
display: none; /* Hide the play button in Safari */
}

/* Hide default controls */
.video-player video::-webkit-media-controls {
display: none;
}



.button-container,
.custom-button{
display:none !important;  
}



/*************************************************************************
Categories page 
*************************************************************************/
.page-title{
position: relative;
padding-left: 10px;  
}

/***********************************************************************
Footer
***********************************************************************/
.site-footer{
color:#222;
height:50px;
width:100%;
text-align:center;
position: relative;
bottom: 20px;
}

.site-footer-inner{
position: relative;
width:100%;
margin-bottom:20px;
}

.site-footer-content{
position: relative;
padding-top:20px;
display: flex;
justify-content: space-between;
align-items: center;
padding-left:10px;
padding-right:10px;
}


.site-footer-content{
position: relative; 
font-weight:400;
font-size:12px; 
}



.subscribe-box{
margin-top: 200px;
margin-left:auto;
margin-right:auto;
margin-bottom: 20px;
background: #0E0E0E;
padding-top:25px;
padding-left:0px;
padding-right:0px;
padding-bottom:15px;
border-radius: 10px;
width:370px;
}


.subscribe-box p{
position:relative;
text-align: center;
font-size:20px;
}

.subscribe-form{
  width: 338px;
margin-top: 50px;
margin-left:auto;
margin-right:auto;
background:#111;
position:relative;
/*background: rgba(34,34,34,.5);
-webkit-backdrop-filter: blur(24px);
backdrop-filter: blur(24px);*/
border-radius: 6px;
z-index:1;
}

.site-footer-nav{  
position: relative;
color: #fefefe;
width:100%;
font-size: 12px;
color:#1f1f1f;
}


.site-footer-nav{ 
padding-left:5px;
padding-right:5px; 
padding-top:5px;
padding-bottom: 5px;
width:98.8%;
position:relative;
/*background: rgba(21, 21, 21, 0.5);
-webkit-backdrop-filter: blur(24px);
backdrop-filter: blur(24px);
border-radius: 6px;
z-index:1;  */
margin-top:80px;
margin-left:auto;
margin-right:auto;
bottom:10px;
text-align: center;
}

.site-footer-nav-help,
.site-footer-nav-social{
position: relative;
cursor: pointer;  
}


.site-footer-nav-help,
.site-footer-nav-social{
position: relative;
cursor: pointer; 
background: transparent;
border-radius: 5px;
padding-top:5px;
padding-left: 8px;
padding-right: 8px;
padding-bottom: 5px;
font-size:12px;
display: block;
}

.site-footer-nav-help:hover,
.site-footer-nav-social:hover{
background: #222;
transition: 0.5s ease-in-out;
-webkit-transition: 0.5s ease-in-out;
-moz-transition: 0.5s ease-in-out;
}