/********************************************************************
Globals.
*******************************************************************/
/*******************************************************************
Max-width:768px and min-width:0px
********************************************************************/
@media only screen and (max-width:768px) and (min-width:0px){
.wrap{
position:relative;
/*margin-top:80px;*/
}

}

/********************************************************************
Posts.
*******************************************************************/
/*******************************************************************
Max-width:1024px and min-width:768px
********************************************************************/
@media only screen and (max-width:1024px) and (min-width:768px){

/* Categories grid */
.category-container{
display: grid;
grid-template-columns:repeat(2, 1fr);
grid-column-gap:7px;
width:100%;  
}

/* Content */
ul.related-posts-content{
position:relative;  
display: grid;
grid-template-columns:repeat(2, 1fr);
grid-column-gap:7px;
width:100%;  
padding-top:50px;
}

}




/*******************************************************************
Max-width:768px and min-width:0px
********************************************************************/
@media only screen and (max-width:768px) and (min-width:0px){

/* Header */
.site-header{
width:98.5%;
}



/* Categories grid */
.category-container{
display: grid;
grid-template-columns:repeat(1, 1fr);
grid-column-gap:7px;
width:100%;  
}

/* Content */
ul.related-posts-content{
position:relative;  
display: grid;
grid-template-columns:repeat(1, 1fr);
grid-column-gap:7px;
width:100%;  
padding-top:50px;
}

}







